## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,75.11,70,97,12.41,overcast clouds
1,1,Butaritari,KI,3.0707,172.7902,82.94,77,94,14.34,overcast clouds
2,2,Atuona,PF,-9.8000,-139.0333,79.61,64,6,8.90,clear sky
3,3,Clyde River,CA,70.4692,-68.5914,30.43,86,75,3.44,broken clouds
4,4,Hermanus,ZA,-34.4187,19.2345,54.90,76,98,6.26,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
city_data_temp_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,75.11,70,97,12.41,overcast clouds
1,1,Butaritari,KI,3.0707,172.7902,82.94,77,94,14.34,overcast clouds
2,2,Atuona,PF,-9.8000,-139.0333,79.61,64,6,8.90,clear sky
5,5,Puerto Ayora,EC,-0.7393,-90.3518,76.55,84,18,10.00,few clouds
9,9,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,83,75,4.61,broken clouds
15,15,Daru,PG,-9.0763,143.2092,79.45,76,79,14.20,broken clouds
20,20,Marzuq,YE,14.4000,46.4667,78.62,43,0,3.94,clear sky
21,21,Hithadhoo,MV,-0.6000,73.0833,83.34,73,14,18.72,few clouds
24,24,Baker City,US,44.7749,-117.8344,79.93,17,1,8.05,clear sky
26,26,Tecoanapa,MX,16.5167,-98.7500,88.59,61,64,11.86,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.

# Check Original Dataset
city_data_df.count()

City_ID                696
City                   696
Country                692
Lat                    696
Lng                    696
Max Temp               696
Humidity               696
Cloudiness             696
Wind Speed             696
Current Description    696
dtype: int64

In [6]:
# Check Missing Data in Original Dataset
city_data_df.isnull().sum(axis = 0)

City_ID                0
City                   0
Country                4
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# Check New Dataset
city_data_temp_df.count()

City_ID                202
City                   202
Country                202
Lat                    202
Lng                    202
Max Temp               202
Humidity               202
Cloudiness             202
Wind Speed             202
Current Description    202
dtype: int64

In [8]:
# Check Missing Data in New Dataset
city_data_temp_df.isnull().sum(axis = 0)

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_city_data_df = city_data_temp_df.dropna()
clean_city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,75.11,70,97,12.41,overcast clouds
1,1,Butaritari,KI,3.0707,172.7902,82.94,77,94,14.34,overcast clouds
2,2,Atuona,PF,-9.8000,-139.0333,79.61,64,6,8.90,clear sky
5,5,Puerto Ayora,EC,-0.7393,-90.3518,76.55,84,18,10.00,few clouds
9,9,Arraial Do Cabo,BR,-22.9661,-42.0278,75.16,83,75,4.61,broken clouds
...,...,...,...,...,...,...,...,...,...,...
676,676,Cartagena,CO,10.3997,-75.5144,87.42,66,40,6.91,scattered clouds
677,677,Yendi,GH,9.4427,-0.0099,77.07,82,82,2.84,light rain
685,685,Itarema,BR,-2.9248,-39.9167,79.12,75,1,12.93,clear sky
686,686,Denpasar,ID,-8.6500,115.2167,78.46,94,20,3.15,few clouds
694,694,Bembereke,BJ,10.2283,2.6634,78.62,65,89,5.97,overcast clouds

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.11,overcast clouds,-23.1203,-134.9692,
1,Butaritari,KI,82.94,overcast clouds,3.0707,172.7902,
2,Atuona,PF,79.61,clear sky,-9.8000,-139.0333,
5,Puerto Ayora,EC,76.55,few clouds,-0.7393,-90.3518,
9,Arraial Do Cabo,BR,75.16,broken clouds,-22.9661,-42.0278,
15,Daru,PG,79.45,broken clouds,-9.0763,143.2092,
20,Marzuq,YE,78.62,clear sky,14.4000,46.4667,
21,Hithadhoo,MV,83.34,few clouds,-0.6000,73.0833,
24,Baker City,US,79.93,clear sky,44.7749,-117.8344,
26,Tecoanapa,MX,88.59,broken clouds,16.5167,-98.7500,

In [11]:
hotel_df.count()

City                   202
Country                202
Max Temp               202
Current Description    202
Lat                    202
Lng                    202
Hotel Name             202
dtype: int64

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.11,overcast clouds,-23.1203,-134.9692,Pension Maro'i
1,Butaritari,KI,82.94,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,Atuona,PF,79.61,clear sky,-9.8000,-139.0333,Villa Enata
5,Puerto Ayora,EC,76.55,few clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,Arraial Do Cabo,BR,75.16,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
15,Daru,PG,79.45,broken clouds,-9.0763,143.2092,Daru Lodge
20,Marzuq,YE,78.62,clear sky,14.4000,46.4667,
21,Hithadhoo,MV,83.34,few clouds,-0.6000,73.0833,Scoop Guest House
24,Baker City,US,79.93,clear sky,44.7749,-117.8344,Bridge Street Inn
26,Tecoanapa,MX,88.59,broken clouds,16.5167,-98.7500,Hotel Manglares

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()[hotel_df["Hotel Name"] != '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Rikitea,PF,75.11,overcast clouds,-23.1203,-134.9692,Pension Maro'i
1,Butaritari,KI,82.94,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
2,Atuona,PF,79.61,clear sky,-9.8000,-139.0333,Villa Enata
5,Puerto Ayora,EC,76.55,few clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
9,Arraial Do Cabo,BR,75.16,broken clouds,-22.9661,-42.0278,Pousada Porto Praia
15,Daru,PG,79.45,broken clouds,-9.0763,143.2092,Daru Lodge
21,Hithadhoo,MV,83.34,few clouds,-0.6000,73.0833,Scoop Guest House
24,Baker City,US,79.93,clear sky,44.7749,-117.8344,Bridge Street Inn
26,Tecoanapa,MX,88.59,broken clouds,16.5167,-98.7500,Hotel Manglares
27,Kahului,US,84.97,few clouds,20.8947,-156.4700,Maui Seaside Hotel

In [15]:
clean_hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperture</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

In [21]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))