## Deliverable 2. Create a Customer Travel Destinations Map.

In [5]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [11]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
# city_data_df = os.path.join("world_weather_analysis", "Weather_Database","WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bambous Virieux,MU,-20.3428,57.7575,70.21,75,6,7.36,clear sky
1,1,Busselton,AU,-33.6500,115.3333,51.08,89,43,7.49,scattered clouds
2,2,Arraial Do Cabo,BR,-22.9661,-42.0278,71.31,94,100,8.66,light rain
3,3,Rikitea,PF,-23.1203,-134.9692,73.99,66,29,18.01,scattered clouds
4,4,Mataura,NZ,-46.1927,168.8643,49.48,88,55,2.73,broken clouds

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [13]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_temp_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
city_data_temp_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Cayenne,GF,4.9333,-52.3333,77.09,89,0,11.52,clear sky
17,17,San Patricio,US,28.0170,-97.5169,85.17,63,90,13.47,overcast clouds
20,20,Lucea,JM,18.4510,-78.1736,85.86,77,100,11.07,overcast clouds
25,25,Kapaa,US,22.0752,-159.3190,81.19,71,44,1.99,scattered clouds
28,28,Curaca,BR,-8.9903,-39.9094,79.65,61,98,9.10,overcast clouds
39,39,Siquirres,CR,10.0975,-83.5066,85.41,85,75,3.22,broken clouds
44,44,Buraydah,SA,26.3260,43.9750,87.89,14,3,8.66,clear sky
50,50,Puerto Escondido,MX,15.8500,-97.0667,86.09,70,63,7.29,broken clouds
51,51,Bengkulu,ID,-3.8004,102.2655,75.24,92,100,3.78,overcast clouds
54,54,High Level,CA,58.5169,-117.1360,76.57,26,82,6.13,broken clouds

In [14]:
# 4a. Determine if there are any empty rows.

# Check Original Dataset
city_data_df.count()

City_ID                674
City                   674
Country                668
Lat                    674
Lng                    674
Max Temp               674
Humidity               674
Cloudiness             674
Wind Speed             674
Current Description    674
dtype: int64

In [15]:
# Check Missing Data in Original Dataset
city_data_df.isnull().sum(axis = 0)

City_ID                0
City                   0
Country                6
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [16]:
# Check New Dataset
city_data_temp_df.count()

City_ID                190
City                   190
Country                190
Lat                    190
Lng                    190
Max Temp               190
Humidity               190
Cloudiness             190
Wind Speed             190
Current Description    190
dtype: int64

In [17]:
# Check Missing Data in New Dataset
city_data_temp_df.isnull().sum(axis = 0)

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_city_data_df = city_data_temp_df.dropna()
clean_city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Cayenne,GF,4.9333,-52.3333,77.09,89,0,11.52,clear sky
17,17,San Patricio,US,28.0170,-97.5169,85.17,63,90,13.47,overcast clouds
20,20,Lucea,JM,18.4510,-78.1736,85.86,77,100,11.07,overcast clouds
25,25,Kapaa,US,22.0752,-159.3190,81.19,71,44,1.99,scattered clouds
28,28,Curaca,BR,-8.9903,-39.9094,79.65,61,98,9.10,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
662,662,Cabinda,AO,-5.5500,12.2000,76.62,92,75,4.47,broken clouds
663,663,Vila Velha,BR,-20.3297,-40.2925,75.94,88,19,8.99,few clouds
665,665,Rio Tuba,PH,8.5061,117.4317,80.87,82,98,5.59,overcast clouds
667,667,Santa Catalina,PH,9.3337,122.8637,80.74,82,100,1.14,moderate rain
673,673,Yilan,TW,24.7570,121.7530,82.36,99,100,0.31,overcast clouds

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_city_data_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Cayenne,GF,77.09,clear sky,4.9333,-52.3333,
17,San Patricio,US,85.17,overcast clouds,28.0170,-97.5169,
20,Lucea,JM,85.86,overcast clouds,18.4510,-78.1736,
25,Kapaa,US,81.19,scattered clouds,22.0752,-159.3190,
28,Curaca,BR,79.65,overcast clouds,-8.9903,-39.9094,
39,Siquirres,CR,85.41,broken clouds,10.0975,-83.5066,
44,Buraydah,SA,87.89,clear sky,26.3260,43.9750,
50,Puerto Escondido,MX,86.09,broken clouds,15.8500,-97.0667,
51,Bengkulu,ID,75.24,overcast clouds,-3.8004,102.2655,
54,High Level,CA,76.57,broken clouds,58.5169,-117.1360,

In [20]:
hotel_df.count()

City                   190
Country                190
Max Temp               190
Current Description    190
Lat                    190
Lng                    190
Hotel Name             190
dtype: int64

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Cayenne,GF,77.09,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
17,San Patricio,US,85.17,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
20,Lucea,JM,85.86,overcast clouds,18.4510,-78.1736,Grand Palladium Jamaica Resort & Spa
25,Kapaa,US,81.19,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Curaca,BR,79.65,overcast clouds,-8.9903,-39.9094,Hotel Recanto Campestre
39,Siquirres,CR,85.41,broken clouds,10.0975,-83.5066,Hotel Pacuare
44,Buraydah,SA,87.89,clear sky,26.3260,43.9750,فندق راحة السلام
50,Puerto Escondido,MX,86.09,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
51,Bengkulu,ID,75.24,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
54,High Level,CA,76.57,broken clouds,58.5169,-117.1360,Days Inn by Wyndham High Level

In [23]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()[hotel_df["Hotel Name"] != '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Cayenne,GF,77.09,clear sky,4.9333,-52.3333,Hôtel Le Dronmi
17,San Patricio,US,85.17,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
20,Lucea,JM,85.86,overcast clouds,18.4510,-78.1736,Grand Palladium Jamaica Resort & Spa
25,Kapaa,US,81.19,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
28,Curaca,BR,79.65,overcast clouds,-8.9903,-39.9094,Hotel Recanto Campestre
39,Siquirres,CR,85.41,broken clouds,10.0975,-83.5066,Hotel Pacuare
44,Buraydah,SA,87.89,clear sky,26.3260,43.9750,فندق راحة السلام
50,Puerto Escondido,MX,86.09,broken clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
51,Bengkulu,ID,75.24,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
54,High Level,CA,76.57,broken clouds,58.5169,-117.1360,Days Inn by Wyndham High Level

In [24]:
clean_hotel_df = hotel_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]].copy()

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt><b>City Name</b></dt><dd>{City}</dd>
<dt><b>Country Code</b></dt><dd>{Country}</dd>
<dt><b>Weather Description</b></dt><dd>{Current Description}</dd>
<dt><b>Maximum Temperture</b></dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))